.ant-list-item-meta-content {
  justify-content: flex-start;
}

.cartContentLeftside {
  display: flex;
}
.decreaseIncreaseBtnContainer {
  display: flex;
}

.cartContentRightside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
}

.content{
 padding: 2rem;
}

.cartItem {
  flex-direction: row;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

@media (max-width: 560px  ) {

  .cartContentLeftside{
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
  }

  .ant-list-item{
    flex-direction: column;
    padding-bottom: 1rem;
  }


}
