footer {
  background-color: #edf6f9;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #83c5be;
   
  }

  .anticon {
    color: #006d77;
  }


h5 {
  font-size: 1.3rem;
  color: #006d77;
}
