.list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

@media (max-width: 768px) {
    .list {
        display:flex;
        flex-wrap: wrap;
    }
      }


@media (min-width: 768px) {
.list {
    width:650px;
    margin: 0 auto; 
    justify-content: center; 
}
  }