
/* Admincenter CSS */

.statisticsCard {
  flex-direction: row;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* AdminCreateProduct CSS */

.h2 {
  flex-direction: row;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  font-size: 2.2rem;
}

/* AdminOrdersTable CSS */

.orderlist {
  flex-direction: row;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  font-size: 2.2rem;
}

/* AdminCenter Responsiv CSS */

@media (max-width: 640px) {
  .ant-statistic-content-value {
    font-size: 1rem;
  }

  .ant-card-body {
    padding: 0.4rem;
  }
}

@media (max-width: 640px) {
  .ant-statistic-content-value {
    font-size: 0.7rem;
  }

  .ant-card-body {
    padding: 0.2rem;
  }
}
